<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
        
        
   <!-- Different way to define PropertyPlaceholderConfigurer :) -->
   <context:property-placeholder location="${CLIENT_PROPS:classpath:client.properties}, 
                                           ${DB_PROPS:classpath:db.properties}"
        system-properties-mode="OVERRIDE" ignore-resource-not-found="false"/>

    <bean id="client" class="com.yet.spring.core.beans.Client"
        p:greeting="${greeting}">
        <constructor-arg index="0" value="${id}" />
        <constructor-arg value="${name}" />
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

    <bean id="app" class="com.yet.spring.core.App">
        <constructor-arg ref="client" />
        
        <constructor-arg value="#{ T(com.yet.spring.core.beans.Event).isDay(8,17) ? 
            cacheFileEventLogger : consoleEventLogger }" />
        
        <constructor-arg ref="loggerMap"/>
        
        <property name="startupMessage" value="#{'Hello user ' +
            ( systemProperties['os.name'].contains('Windows') ? 
                systemEnvironment['USERNAME'] : systemEnvironment['USER'] ) + 
                '. Default logger is ' + app.defaultLogger.name }"/>
    </bean>

    <bean id="event" class="com.yet.spring.core.beans.Event" scope="prototype">
        <constructor-arg value="#{new java.util.Date()}"/>
        <constructor-arg value="#{T(java.text.DateFormat).getDateTimeInstance()}" />
    </bean>

    <bean id="monitor" class="com.yet.spring.core.util.Monitor"/>
    <bean id="awared" class="com.yet.spring.core.util.AwareBean" init-method="init"/>
    
</beans>