<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="client" class="com.yet.spring.core.beans.Client"/>

	<bean id="eventLogger" class="com.yet.spring.core.loggers.ConsoleEventLogger" />

	<bean id="app" class="com.yet.spring.core.App"/>

</beans>